﻿@model WebApplication.Zamestnanec

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zamestnanec</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Oddeleni.Nazev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oddeleni.Nazev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jmeno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jmeno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prijmeni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prijmeni)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
